### 네이버 기사 수집
- 기사 리스트 수집 > 상세페이지 URL 만들기 > 상세 페이지에서 기사 내용 수집

In [1]:
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup

#### 1. URL : 기사 리스트 수집

In [2]:
sid1 = 105  # IT/과학 카테고리
page = 1
url = f"https://news.naver.com/main/mainNews.naver?sid1={sid1}&date=%2000:00:00&page={page}"
url

'https://news.naver.com/main/mainNews.naver?sid1=105&date=%2000:00:00&page=1'

#### 2. request > response : str(json)

In [3]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)\
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}
res = requests.post(url, headers=headers)
res

#### 3. str(json) > str(json) > dict, list > df

In [4]:
# str-all > json
datas = res.json()
datas

{'itemList': [],
 'dateList': [],
 'pagerInfo': {'type': 'default',
  'totalRows': 1441,
  'pageSize': 20,
  'indexSize': 10,
  'page': 1,
  'requestURI': '/main/mainNews.naver',
  'requestMethod': 'POST',
  'queryString': 'sid1=105&date=%2000:00:00&page=1',
  'startRownum': 1,
  'endRownum': 20,
  'firstPage': 1,
  'lastPage': 10,
  'prevPage': 0,
  'totalPages': 73,
  'nextPage': 2},
 'currentDate': None,
 'airsResult': '{"success":true,"message":"OK","resultCode":200,"result":{"105":[{"sectionId":"105","gdid":"880000E7_000000000000000005203985","articleId":"0005203985","officeId":"018","officeName":"이데일리","title":"삼성폰, 애플 제치고 1분기 점유율 1위 ‘탈환’","summary":"글로벌 스마트폰 출하량 추이. (자료=카운터포인트리서치) [이데일리 김정유 기자] 삼성전자(005930)가 올 1분기 애플을 제치고 글로벌 스마트폰 시장 점유율 1위를 탈환했다. 29일 시장조사업체 카운터포인트리서치","serviceTime":1651219081000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/018/2022/04/29/5203985.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800010E_000000000000000001984958","articleId":"0001984958","officeId":"016","officeName":"헤럴드경제","title":"“이것만 있으면 코로나 걱정없다?” 세계가 놀란 ‘물방울’ 한국 상용 임박","summary":"[헤럴드경제=구본혁 기자] “이것만 있으면 지하철에서도 코로나 걱정없이 마스크를 벗을 수 있다?” 일본 기술보다 월등한 성능을 갖춘 대기 중 코로나 바이러스를 잡을 수 있는 마법의 물방울 생성 기술 상용화가 추진된다","serviceTime":1651218782000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984958.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800011E_000000000000000002255437","articleId":"0002255437","officeId":"092","officeName":"ZDNet Korea","title":"침으로 검사하는 코로나19 자가키트 첫 허가","summary":"타액으로 코로나19 감염 확인이 가능한 자가검사키트가 허가됐다. 식품의약품안전처는 국내 처음으로 개인이 직접 타액(침)을 검체로 사용해 바이러스 감염 여부를 확인하는 항원검사 방식의 코로나19 자가검사키트 1개 제품","serviceTime":1651218661000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255437.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"08138263_000000000000000006062447","articleId":"0006062447","officeId":"421","officeName":"뉴스1","title":"위메이드vs넷마블vs블리자드…올해 상반기 \'신작 대격돌\' 벌어진다","summary":"(서울=뉴스1) 김근욱 기자 = 올해 상반기 게임사 위메이드와 넷마블, 블리자드가 각사의 자존심을 건 야심작을 잇달아 출시하면서 게임업계에 \'신작 대격돌\'이 벌어질 전망이다. 먼저 위메이드는 자사의 대표작 \'미르의 ","serviceTime":1651218371000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/421/2022/04/29/6062447.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000FF_000000000000000004828657","articleId":"0004828657","officeId":"014","officeName":"파이낸셜뉴스","title":"NFT 해킹 주의보...오픈씨·BAYC 다 뚫렸다","summary":"[파이낸셜뉴스] 대체불가능한토큰(Non-Fungible Tokens, NFT) 시장이 커지면서 해킹 위협이 급증하고 있다. 오픈씨(OpenSea), 지루한원숭이들의요트클럽(Bored Ape Yacht Club·BAY","serviceTime":1651217165000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/014/2022/04/29/4828657.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810203","articleId":"0000810203","officeId":"366","officeName":"조선비즈","title":"삼성 반도체 훨훨 나는데…인텔, 1분기 매출 전년比 7% 뚝뚝","summary":"삼성전자, 메모리 수요에 반도체 역대 최고 실적 인텔은 PC 수요 줄어들면서 1분기 실적 뒷걸음질 파운드리 앞세운 인텔에 美 정부 적극 지원 삼성전자 반도체 사업이 올해 1분기 견조한 메모리 수요에 힘입어 역대 최고","serviceTime":1651216921000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810203.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810199","articleId":"0000810199","officeId":"366","officeName":"조선비즈","title":"“SK바이오, 믿기지 않는 연봉 인상률” 소식에…제약업계 술렁","summary":"22일 연봉동의서 통지 후 서버 먹통 “40분 동안 2000번 이상 접속” 업계 “사상 최대 실적 비교해 연봉은 적게 오른 듯” 국내 대기업 연봉 협상이 한창인 29일 제약바이오업계에서는 SK바이오사이언스(30244","serviceTime":1651216324000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810199.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8812A0A8_000000000000000002599466","articleId":"0002599466","officeId":"119","officeName":"데일리안","title":"[단독] 강신웅 티캐스트 대표 보직해임…매각 재추진 가시화","summary":"[데일리안 = 김은경 기자] 태광그룹의 방송채널사용사업자(PP) 티캐스트의 강신웅 대표가 보직에서 해임됐다. 29일 관련업계에 따르면 태광그룹은 전날 강 대표와 이영국 상무, 김용호 미디어컨설팅본부장(상무)을 보직에","serviceTime":1651216022000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/119/2022/04/29/2599466.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880003A5_000000000000000000038932","articleId":"0000038932","officeId":"293","officeName":"블로터","title":"[단독]\'서버 오류\' 해명한&#160;발란, \'네고왕\' 업데이트 이전 가격 인상","summary":"국내 명품 커머스 업체 \'발란\'이 유튜브 방송 \'네고왕\' 방송과 관련한 할인 쿠폰을 적용하기 전 미리 상품 가격을 인상했다는 의혹이 제기된 가운데, 웹 및 애플리케이션 등 업데이트 과정에서 오류가 발생한 것이라고 해","serviceTime":1651215329000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/293/2022/04/29/38932.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800010E_000000000000000001984930","articleId":"0001984930","officeId":"016","officeName":"헤럴드경제","title":"“이게 엄청나네” 삼성 ‘반도체+휴대폰’ 합쳐도 아이폰만 못해!","summary":"[헤럴드경제=박세정 기자] 애플의 질주가 이어지고 있다. 아이폰 ‘비수기’에도 불구하고 애플은 1분기 역대 최대 매출 기록을 갈아치웠다. 삼성전자의 스마트폰, 반도체 매출을 모두 합쳐도 아이폰 매출에 못 미친다. 애","serviceTime":1651215122000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984930.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000AD_000000000000000002732069","articleId":"0002732069","officeId":"029","officeName":"디지털타임스","title":"후배사랑 실천한 `KAIST 전산학부 동문 17인`…크래프톤 재직자로 1억원 기부","summary":"KAIST, 17명 전산학부 후배 위해 기부 행렬 학생회, 동아리, 학부 장학금 등 활용 예정 국내 게임기업인 크래프톤에 근무하고 있는 KAIST 동문 17명이 \'기부 천사\'에 이름을 올렸다. KAIST는 크래프톤에","serviceTime":1651214407000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/029/2022/04/29/2732069.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810181","articleId":"0000810181","officeId":"366","officeName":"조선비즈","title":"삼성전자, 올해 임금 인상률 9% 확정…대졸 초임 5150만원","summary":"삼성전자 노사가 2022년 평균 임금 인상률 9%에 최종 합의했다. 29일 전자 업계에 따르면 삼성전자 노사협의회는 이날 직원 공지문을 통해 2022년 전 사원의 평균 임금 인상률이 9%로 결정됐다고 밝혔다. 이는 ","serviceTime":1651214226000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810181.jpg","type":"1","sessionId":"zHoqYbPV0SqZoWsk","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000D1_000000000000000003269533","articleId":"0003269533","officeId":"081","officeName":"서울신문","title":"[아하! 우주] 선명한 이미지!…제임스웹 우주망원경, ‘완벽한 초점’ 맞췄다","summary":"[서울신문 나우뉴스] 제임스웹 우주망원경이 마침내 거울 정렬작업을 완벽히 마무리하며 최상의 선명한 심우주 이미지를 잡아내는 데 성공했다. 미 항공우주국(NASA)은 28일(현지시간) 제임스웹 우주망원경이 탑재한 네 ","serviceTime":1651213622000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/081/2022/04/29/3269533.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8812805E_000000000000000000808663","articleId":"0000808663","officeId":"417","officeName":"머니S","title":"세계 스마트폰 시장, 1분기 7% 역성장… 코로나에 러-우크라 전쟁까지 \'이중고\'","summary":"세계 스마트폰 시장이 올해 1분기(1~3월) 7% 역성장을 기록하며 힘든 시기를 보내고 있다. 신종 코로나바이러스 감염증(코로나19) 리스크가 여전한 가운데 러시아의 우크라이나 침공으로 원자잿값과 물류비 상승, 부품","serviceTime":1651212776000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/417/2022/04/29/808663.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000AC_000000000000000002123774","articleId":"0002123774","officeId":"138","officeName":"디지털데일리","title":"테슬라 폭락 주범 알고봤더니…일론 머스크,  440만주 매각해 39.9억 달러 마련","summary":"테슬라의 일론 머스크 최고경영자(CEO)가 자신의 테슬라 보유지분 440만주를 매각해 39억9000만달러(한화 약 5조원)의 현금을 확보한 것으로 미국 증권업계의 분석 결과 나타났다고 28일(현지시간) 로이터통신 등","serviceTime":1651212301000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/138/2022/04/29/2123774.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800011E_000000000000000002255422","articleId":"0002255422","officeId":"092","officeName":"ZDNet Korea","title":"치약 짜듯 빠르고 반듯하게...3D 프린터로 집 짓는다","summary":"X축(가로) 6m, Y축(세로) 5m, Z축(높이) 4m 짜리 대형 3D프린터가 황토 반죽을 치약 짜듯이 출력한다. 20시간을 쉬지 않고 움직여 무언가를 만든다. 누군가 들어가 따뜻하게 몸을 누울 이 곳의 크기는 가","serviceTime":1651212121000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255422.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88000127_000000000000000011154542","articleId":"0011154542","officeId":"003","officeName":"뉴시스","title":"삼성, 세계 스마트폰 점유율 1위 탈환…전체 시장은 7% 역성장","summary":"기사내용 요약 삼성, 1분기 출하량 7400만대…점유율 23% 기록 애플은 5900만대로 2위…전 분기 대비 28% 감소 공급망 이슈 등으로 전체 시장 규모 전년比 7%↓ [서울=뉴시스]윤현성 기자 = 지난해 4분기","serviceTime":1651211375000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/003/2022/04/29/11154542.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88156f75_000000000000000000672363","articleId":"0000672363","officeId":"469","officeName":"한국일보","title":"역대급 실적에도 웃지 못한 애플, 공급망 문제 대두되면서 주가는 급락","summary":"글로벌 정보기술(IT) 업계 공룡인 애플이 올해 1분기에 인플레이션 악재 등에도 불구하고 \'깜짝실적(어닝서프라이즈)\'를 가져왔다. 주력인 아이폰과 온라인장터인 앱스토어 등에서 선전한 결과다. 하지만 신종 코로나바이러","serviceTime":1651210262000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672363.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88156f75_000000000000000000672362","articleId":"0000672362","officeId":"469","officeName":"한국일보","title":"삼성전자 노사, 올해 임금인상률 9% 최종 합의…대졸 신입 초봉 5,150만원","summary":"삼성전자 노사가 2022년 임직원 평균 임금인상률을 9%로 결정했다. 29일 업계에 따르면 삼성전자 노사협의회는 이날 오전 노사가 연내 사원의 평균 임금인상률을 9%로 합의했다는 내용을 임직원들에게 공지했다. 노사협","serviceTime":1651210261000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672362.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88000108_000000000000000004048337","articleId":"0004048337","officeId":"011","officeName":"서울경제","title":"\\"연봉 1000만원 인상\\" 웹젠 노조, 2일 파업 보류","summary":"[서울경제] 게임 업계 최초로 파업을 예고했던 웹젠(069080) 노동조합이 쟁의활동을 일단 보류하기로 했다. 29일 업계에 따르면 웹젠 노조는 다음달 2일 국회 문화체육관광위원회·환경노동위원회 공동 주최로 열리는 ","serviceTime":1651210261000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/011/2022/04/29/4048337.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"}]},"currentPage":1,"totalPage":73,"totalCount":1441}'}

In [5]:
# str-airsResult > json
datas = res.json()["airsResult"]
datas

'{"success":true,"message":"OK","resultCode":200,"result":{"105":[{"sectionId":"105","gdid":"880000E7_000000000000000005203985","articleId":"0005203985","officeId":"018","officeName":"이데일리","title":"삼성폰, 애플 제치고 1분기 점유율 1위 ‘탈환’","summary":"글로벌 스마트폰 출하량 추이. (자료=카운터포인트리서치) [이데일리 김정유 기자] 삼성전자(005930)가 올 1분기 애플을 제치고 글로벌 스마트폰 시장 점유율 1위를 탈환했다. 29일 시장조사업체 카운터포인트리서치","serviceTime":1651219081000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/018/2022/04/29/5203985.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800010E_000000000000000001984958","articleId":"0001984958","officeId":"016","officeName":"헤럴드경제","title":"“이것만 있으면 코로나 걱정없다?” 세계가 놀란 ‘물방울’ 한국 상용 임박","summary":"[헤럴드경제=구본혁 기자] “이것만 있으면 지하철에서도 코로나 걱정없이 마스크를 벗을 수 있다?” 일본 기술보다 월등한 성능을 갖춘 대기 중 코로나 바이러스를 잡을 수 있는 마법의 물방울 생성 기술 상용화가 추진된다","serviceTime":1651218782000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984958.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800011E_000000000000000002255437","articleId":"0002255437","officeId":"092","officeName":"ZDNet Korea","title":"침으로 검사하는 코로나19 자가키트 첫 허가","summary":"타액으로 코로나19 감염 확인이 가능한 자가검사키트가 허가됐다. 식품의약품안전처는 국내 처음으로 개인이 직접 타액(침)을 검체로 사용해 바이러스 감염 여부를 확인하는 항원검사 방식의 코로나19 자가검사키트 1개 제품","serviceTime":1651218661000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255437.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"08138263_000000000000000006062447","articleId":"0006062447","officeId":"421","officeName":"뉴스1","title":"위메이드vs넷마블vs블리자드…올해 상반기 \'신작 대격돌\' 벌어진다","summary":"(서울=뉴스1) 김근욱 기자 = 올해 상반기 게임사 위메이드와 넷마블, 블리자드가 각사의 자존심을 건 야심작을 잇달아 출시하면서 게임업계에 \'신작 대격돌\'이 벌어질 전망이다. 먼저 위메이드는 자사의 대표작 \'미르의 ","serviceTime":1651218371000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/421/2022/04/29/6062447.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000FF_000000000000000004828657","articleId":"0004828657","officeId":"014","officeName":"파이낸셜뉴스","title":"NFT 해킹 주의보...오픈씨·BAYC 다 뚫렸다","summary":"[파이낸셜뉴스] 대체불가능한토큰(Non-Fungible Tokens, NFT) 시장이 커지면서 해킹 위협이 급증하고 있다. 오픈씨(OpenSea), 지루한원숭이들의요트클럽(Bored Ape Yacht Club·BAY","serviceTime":1651217165000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/014/2022/04/29/4828657.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810203","articleId":"0000810203","officeId":"366","officeName":"조선비즈","title":"삼성 반도체 훨훨 나는데…인텔, 1분기 매출 전년比 7% 뚝뚝","summary":"삼성전자, 메모리 수요에 반도체 역대 최고 실적 인텔은 PC 수요 줄어들면서 1분기 실적 뒷걸음질 파운드리 앞세운 인텔에 美 정부 적극 지원 삼성전자 반도체 사업이 올해 1분기 견조한 메모리 수요에 힘입어 역대 최고","serviceTime":1651216921000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810203.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810199","articleId":"0000810199","officeId":"366","officeName":"조선비즈","title":"“SK바이오, 믿기지 않는 연봉 인상률” 소식에…제약업계 술렁","summary":"22일 연봉동의서 통지 후 서버 먹통 “40분 동안 2000번 이상 접속” 업계 “사상 최대 실적 비교해 연봉은 적게 오른 듯” 국내 대기업 연봉 협상이 한창인 29일 제약바이오업계에서는 SK바이오사이언스(30244","serviceTime":1651216324000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810199.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8812A0A8_000000000000000002599466","articleId":"0002599466","officeId":"119","officeName":"데일리안","title":"[단독] 강신웅 티캐스트 대표 보직해임…매각 재추진 가시화","summary":"[데일리안 = 김은경 기자] 태광그룹의 방송채널사용사업자(PP) 티캐스트의 강신웅 대표가 보직에서 해임됐다. 29일 관련업계에 따르면 태광그룹은 전날 강 대표와 이영국 상무, 김용호 미디어컨설팅본부장(상무)을 보직에","serviceTime":1651216022000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/119/2022/04/29/2599466.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880003A5_000000000000000000038932","articleId":"0000038932","officeId":"293","officeName":"블로터","title":"[단독]\'서버 오류\' 해명한&#160;발란, \'네고왕\' 업데이트 이전 가격 인상","summary":"국내 명품 커머스 업체 \'발란\'이 유튜브 방송 \'네고왕\' 방송과 관련한 할인 쿠폰을 적용하기 전 미리 상품 가격을 인상했다는 의혹이 제기된 가운데, 웹 및 애플리케이션 등 업데이트 과정에서 오류가 발생한 것이라고 해","serviceTime":1651215329000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/293/2022/04/29/38932.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800010E_000000000000000001984930","articleId":"0001984930","officeId":"016","officeName":"헤럴드경제","title":"“이게 엄청나네” 삼성 ‘반도체+휴대폰’ 합쳐도 아이폰만 못해!","summary":"[헤럴드경제=박세정 기자] 애플의 질주가 이어지고 있다. 아이폰 ‘비수기’에도 불구하고 애플은 1분기 역대 최대 매출 기록을 갈아치웠다. 삼성전자의 스마트폰, 반도체 매출을 모두 합쳐도 아이폰 매출에 못 미친다. 애","serviceTime":1651215122000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984930.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000AD_000000000000000002732069","articleId":"0002732069","officeId":"029","officeName":"디지털타임스","title":"후배사랑 실천한 `KAIST 전산학부 동문 17인`…크래프톤 재직자로 1억원 기부","summary":"KAIST, 17명 전산학부 후배 위해 기부 행렬 학생회, 동아리, 학부 장학금 등 활용 예정 국내 게임기업인 크래프톤에 근무하고 있는 KAIST 동문 17명이 \'기부 천사\'에 이름을 올렸다. KAIST는 크래프톤에","serviceTime":1651214407000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/029/2022/04/29/2732069.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88127058_000000000000000000810181","articleId":"0000810181","officeId":"366","officeName":"조선비즈","title":"삼성전자, 올해 임금 인상률 9% 확정…대졸 초임 5150만원","summary":"삼성전자 노사가 2022년 평균 임금 인상률 9%에 최종 합의했다. 29일 전자 업계에 따르면 삼성전자 노사협의회는 이날 직원 공지문을 통해 2022년 전 사원의 평균 임금 인상률이 9%로 결정됐다고 밝혔다. 이는 ","serviceTime":1651214226000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810181.jpg","type":"1","sessionId":"zHoqYbPV0SqZoWsk","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000D1_000000000000000003269533","articleId":"0003269533","officeId":"081","officeName":"서울신문","title":"[아하! 우주] 선명한 이미지!…제임스웹 우주망원경, ‘완벽한 초점’ 맞췄다","summary":"[서울신문 나우뉴스] 제임스웹 우주망원경이 마침내 거울 정렬작업을 완벽히 마무리하며 최상의 선명한 심우주 이미지를 잡아내는 데 성공했다. 미 항공우주국(NASA)은 28일(현지시간) 제임스웹 우주망원경이 탑재한 네 ","serviceTime":1651213622000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/081/2022/04/29/3269533.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8812805E_000000000000000000808663","articleId":"0000808663","officeId":"417","officeName":"머니S","title":"세계 스마트폰 시장, 1분기 7% 역성장… 코로나에 러-우크라 전쟁까지 \'이중고\'","summary":"세계 스마트폰 시장이 올해 1분기(1~3월) 7% 역성장을 기록하며 힘든 시기를 보내고 있다. 신종 코로나바이러스 감염증(코로나19) 리스크가 여전한 가운데 러시아의 우크라이나 침공으로 원자잿값과 물류비 상승, 부품","serviceTime":1651212776000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/417/2022/04/29/808663.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"880000AC_000000000000000002123774","articleId":"0002123774","officeId":"138","officeName":"디지털데일리","title":"테슬라 폭락 주범 알고봤더니…일론 머스크,  440만주 매각해 39.9억 달러 마련","summary":"테슬라의 일론 머스크 최고경영자(CEO)가 자신의 테슬라 보유지분 440만주를 매각해 39억9000만달러(한화 약 5조원)의 현금을 확보한 것으로 미국 증권업계의 분석 결과 나타났다고 28일(현지시간) 로이터통신 등","serviceTime":1651212301000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/138/2022/04/29/2123774.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"8800011E_000000000000000002255422","articleId":"0002255422","officeId":"092","officeName":"ZDNet Korea","title":"치약 짜듯 빠르고 반듯하게...3D 프린터로 집 짓는다","summary":"X축(가로) 6m, Y축(세로) 5m, Z축(높이) 4m 짜리 대형 3D프린터가 황토 반죽을 치약 짜듯이 출력한다. 20시간을 쉬지 않고 움직여 무언가를 만든다. 누군가 들어가 따뜻하게 몸을 누울 이 곳의 크기는 가","serviceTime":1651212121000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255422.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88000127_000000000000000011154542","articleId":"0011154542","officeId":"003","officeName":"뉴시스","title":"삼성, 세계 스마트폰 점유율 1위 탈환…전체 시장은 7% 역성장","summary":"기사내용 요약 삼성, 1분기 출하량 7400만대…점유율 23% 기록 애플은 5900만대로 2위…전 분기 대비 28% 감소 공급망 이슈 등으로 전체 시장 규모 전년比 7%↓ [서울=뉴시스]윤현성 기자 = 지난해 4분기","serviceTime":1651211375000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/003/2022/04/29/11154542.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88156f75_000000000000000000672363","articleId":"0000672363","officeId":"469","officeName":"한국일보","title":"역대급 실적에도 웃지 못한 애플, 공급망 문제 대두되면서 주가는 급락","summary":"글로벌 정보기술(IT) 업계 공룡인 애플이 올해 1분기에 인플레이션 악재 등에도 불구하고 \'깜짝실적(어닝서프라이즈)\'를 가져왔다. 주력인 아이폰과 온라인장터인 앱스토어 등에서 선전한 결과다. 하지만 신종 코로나바이러","serviceTime":1651210262000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672363.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88156f75_000000000000000000672362","articleId":"0000672362","officeId":"469","officeName":"한국일보","title":"삼성전자 노사, 올해 임금인상률 9% 최종 합의…대졸 신입 초봉 5,150만원","summary":"삼성전자 노사가 2022년 임직원 평균 임금인상률을 9%로 결정했다. 29일 업계에 따르면 삼성전자 노사협의회는 이날 오전 노사가 연내 사원의 평균 임금인상률을 9%로 합의했다는 내용을 임직원들에게 공지했다. 노사협","serviceTime":1651210261000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672362.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"},{"sectionId":"105","gdid":"88000108_000000000000000004048337","articleId":"0004048337","officeId":"011","officeName":"서울경제","title":"\\"연봉 1000만원 인상\\" 웹젠 노조, 2일 파업 보류","summary":"[서울경제] 게임 업계 최초로 파업을 예고했던 웹젠(069080) 노동조합이 쟁의활동을 일단 보류하기로 했다. 29일 업계에 따르면 웹젠 노조는 다음달 2일 국회 문화체육관광위원회·환경노동위원회 공동 주최로 열리는 ","serviceTime":1651210261000,"imageUrl":"https://mimgnews.pstatic.net/image/origin/011/2022/04/29/4048337.jpg","type":"1","sessionId":"eUA7TEvdYXajKGhg","modelVersion":"news_sec_v2.0","airsServiceType":"DEFAULT"}]},"currentPage":1,"totalPage":73,"totalCount":1441}'

In [6]:
# str > json
datas = json.loads(datas)["result"]
datas

{'105': [{'sectionId': '105',
   'gdid': '880000E7_000000000000000005203985',
   'articleId': '0005203985',
   'officeId': '018',
   'officeName': '이데일리',
   'title': '삼성폰, 애플 제치고 1분기 점유율 1위 ‘탈환’',
   'summary': '글로벌 스마트폰 출하량 추이. (자료=카운터포인트리서치) [이데일리 김정유 기자] 삼성전자(005930)가 올 1분기 애플을 제치고 글로벌 스마트폰 시장 점유율 1위를 탈환했다. 29일 시장조사업체 카운터포인트리서치',
   'serviceTime': 1651219081000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/018/2022/04/29/5203985.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8800010E_000000000000000001984958',
   'articleId': '0001984958',
   'officeId': '016',
   'officeName': '헤럴드경제',
   'title': '“이것만 있으면 코로나 걱정없다?” 세계가 놀란 ‘물방울’ 한국 상용 임박',
   'summary': '[헤럴드경제=구본혁 기자] “이것만 있으면 지하철에서도 코로나 걱정없이 마스크를 벗을 수 있다?” 일본 기술보다 월등한 성능을 갖춘 대기 중 코로나 바이러스를 잡을 수 있는 마법의 물방울 생성 기술 상용화가 추진된다',
   'serviceTime': 1651218782000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984958.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8800011E_000000000000000002255437',
   'articleId': '0002255437',
   'officeId': '092',
   'officeName': 'ZDNet Korea',
   'title': '침으로 검사하는 코로나19 자가키트 첫 허가',
   'summary': '타액으로 코로나19 감염 확인이 가능한 자가검사키트가 허가됐다. 식품의약품안전처는 국내 처음으로 개인이 직접 타액(침)을 검체로 사용해 바이러스 감염 여부를 확인하는 항원검사 방식의 코로나19 자가검사키트 1개 제품',
   'serviceTime': 1651218661000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255437.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '08138263_000000000000000006062447',
   'articleId': '0006062447',
   'officeId': '421',
   'officeName': '뉴스1',
   'title': "위메이드vs넷마블vs블리자드…올해 상반기 '신작 대격돌' 벌어진다",
   'summary': "(서울=뉴스1) 김근욱 기자 = 올해 상반기 게임사 위메이드와 넷마블, 블리자드가 각사의 자존심을 건 야심작을 잇달아 출시하면서 게임업계에 '신작 대격돌'이 벌어질 전망이다. 먼저 위메이드는 자사의 대표작 '미르의 ",
   'serviceTime': 1651218371000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/421/2022/04/29/6062447.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '880000FF_000000000000000004828657',
   'articleId': '0004828657',
   'officeId': '014',
   'officeName': '파이낸셜뉴스',
   'title': 'NFT 해킹 주의보...오픈씨·BAYC 다 뚫렸다',
   'summary': '[파이낸셜뉴스] 대체불가능한토큰(Non-Fungible Tokens, NFT) 시장이 커지면서 해킹 위협이 급증하고 있다. 오픈씨(OpenSea), 지루한원숭이들의요트클럽(Bored Ape Yacht Club·BAY',
   'serviceTime': 1651217165000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/014/2022/04/29/4828657.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88127058_000000000000000000810203',
   'articleId': '0000810203',
   'officeId': '366',
   'officeName': '조선비즈',
   'title': '삼성 반도체 훨훨 나는데…인텔, 1분기 매출 전년比 7% 뚝뚝',
   'summary': '삼성전자, 메모리 수요에 반도체 역대 최고 실적 인텔은 PC 수요 줄어들면서 1분기 실적 뒷걸음질 파운드리 앞세운 인텔에 美 정부 적극 지원 삼성전자 반도체 사업이 올해 1분기 견조한 메모리 수요에 힘입어 역대 최고',
   'serviceTime': 1651216921000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810203.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88127058_000000000000000000810199',
   'articleId': '0000810199',
   'officeId': '366',
   'officeName': '조선비즈',
   'title': '“SK바이오, 믿기지 않는 연봉 인상률” 소식에…제약업계 술렁',
   'summary': '22일 연봉동의서 통지 후 서버 먹통 “40분 동안 2000번 이상 접속” 업계 “사상 최대 실적 비교해 연봉은 적게 오른 듯” 국내 대기업 연봉 협상이 한창인 29일 제약바이오업계에서는 SK바이오사이언스(30244',
   'serviceTime': 1651216324000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810199.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8812A0A8_000000000000000002599466',
   'articleId': '0002599466',
   'officeId': '119',
   'officeName': '데일리안',
   'title': '[단독] 강신웅 티캐스트 대표 보직해임…매각 재추진 가시화',
   'summary': '[데일리안 = 김은경 기자] 태광그룹의 방송채널사용사업자(PP) 티캐스트의 강신웅 대표가 보직에서 해임됐다. 29일 관련업계에 따르면 태광그룹은 전날 강 대표와 이영국 상무, 김용호 미디어컨설팅본부장(상무)을 보직에',
   'serviceTime': 1651216022000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/119/2022/04/29/2599466.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '880003A5_000000000000000000038932',
   'articleId': '0000038932',
   'officeId': '293',
   'officeName': '블로터',
   'title': "[단독]'서버 오류' 해명한&#160;발란, '네고왕' 업데이트 이전 가격 인상",
   'summary': "국내 명품 커머스 업체 '발란'이 유튜브 방송 '네고왕' 방송과 관련한 할인 쿠폰을 적용하기 전 미리 상품 가격을 인상했다는 의혹이 제기된 가운데, 웹 및 애플리케이션 등 업데이트 과정에서 오류가 발생한 것이라고 해",
   'serviceTime': 1651215329000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/293/2022/04/29/38932.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8800010E_000000000000000001984930',
   'articleId': '0001984930',
   'officeId': '016',
   'officeName': '헤럴드경제',
   'title': '“이게 엄청나네” 삼성 ‘반도체+휴대폰’ 합쳐도 아이폰만 못해!',
   'summary': '[헤럴드경제=박세정 기자] 애플의 질주가 이어지고 있다. 아이폰 ‘비수기’에도 불구하고 애플은 1분기 역대 최대 매출 기록을 갈아치웠다. 삼성전자의 스마트폰, 반도체 매출을 모두 합쳐도 아이폰 매출에 못 미친다. 애',
   'serviceTime': 1651215122000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/016/2022/04/29/1984930.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '880000AD_000000000000000002732069',
   'articleId': '0002732069',
   'officeId': '029',
   'officeName': '디지털타임스',
   'title': '후배사랑 실천한 `KAIST 전산학부 동문 17인`…크래프톤 재직자로 1억원 기부',
   'summary': "KAIST, 17명 전산학부 후배 위해 기부 행렬 학생회, 동아리, 학부 장학금 등 활용 예정 국내 게임기업인 크래프톤에 근무하고 있는 KAIST 동문 17명이 '기부 천사'에 이름을 올렸다. KAIST는 크래프톤에",
   'serviceTime': 1651214407000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/029/2022/04/29/2732069.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88127058_000000000000000000810181',
   'articleId': '0000810181',
   'officeId': '366',
   'officeName': '조선비즈',
   'title': '삼성전자, 올해 임금 인상률 9% 확정…대졸 초임 5150만원',
   'summary': '삼성전자 노사가 2022년 평균 임금 인상률 9%에 최종 합의했다. 29일 전자 업계에 따르면 삼성전자 노사협의회는 이날 직원 공지문을 통해 2022년 전 사원의 평균 임금 인상률이 9%로 결정됐다고 밝혔다. 이는 ',
   'serviceTime': 1651214226000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/366/2022/04/29/810181.jpg',
   'type': '1',
   'sessionId': 'zHoqYbPV0SqZoWsk',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '880000D1_000000000000000003269533',
   'articleId': '0003269533',
   'officeId': '081',
   'officeName': '서울신문',
   'title': '[아하! 우주] 선명한 이미지!…제임스웹 우주망원경, ‘완벽한 초점’ 맞췄다',
   'summary': '[서울신문 나우뉴스] 제임스웹 우주망원경이 마침내 거울 정렬작업을 완벽히 마무리하며 최상의 선명한 심우주 이미지를 잡아내는 데 성공했다. 미 항공우주국(NASA)은 28일(현지시간) 제임스웹 우주망원경이 탑재한 네 ',
   'serviceTime': 1651213622000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/081/2022/04/29/3269533.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8812805E_000000000000000000808663',
   'articleId': '0000808663',
   'officeId': '417',
   'officeName': '머니S',
   'title': "세계 스마트폰 시장, 1분기 7% 역성장… 코로나에 러-우크라 전쟁까지 '이중고'",
   'summary': '세계 스마트폰 시장이 올해 1분기(1~3월) 7% 역성장을 기록하며 힘든 시기를 보내고 있다. 신종 코로나바이러스 감염증(코로나19) 리스크가 여전한 가운데 러시아의 우크라이나 침공으로 원자잿값과 물류비 상승, 부품',
   'serviceTime': 1651212776000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/417/2022/04/29/808663.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '880000AC_000000000000000002123774',
   'articleId': '0002123774',
   'officeId': '138',
   'officeName': '디지털데일리',
   'title': '테슬라 폭락 주범 알고봤더니…일론 머스크,  440만주 매각해 39.9억 달러 마련',
   'summary': '테슬라의 일론 머스크 최고경영자(CEO)가 자신의 테슬라 보유지분 440만주를 매각해 39억9000만달러(한화 약 5조원)의 현금을 확보한 것으로 미국 증권업계의 분석 결과 나타났다고 28일(현지시간) 로이터통신 등',
   'serviceTime': 1651212301000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/138/2022/04/29/2123774.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '8800011E_000000000000000002255422',
   'articleId': '0002255422',
   'officeId': '092',
   'officeName': 'ZDNet Korea',
   'title': '치약 짜듯 빠르고 반듯하게...3D 프린터로 집 짓는다',
   'summary': 'X축(가로) 6m, Y축(세로) 5m, Z축(높이) 4m 짜리 대형 3D프린터가 황토 반죽을 치약 짜듯이 출력한다. 20시간을 쉬지 않고 움직여 무언가를 만든다. 누군가 들어가 따뜻하게 몸을 누울 이 곳의 크기는 가',
   'serviceTime': 1651212121000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/092/2022/04/29/2255422.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88000127_000000000000000011154542',
   'articleId': '0011154542',
   'officeId': '003',
   'officeName': '뉴시스',
   'title': '삼성, 세계 스마트폰 점유율 1위 탈환…전체 시장은 7% 역성장',
   'summary': '기사내용 요약 삼성, 1분기 출하량 7400만대…점유율 23% 기록 애플은 5900만대로 2위…전 분기 대비 28% 감소 공급망 이슈 등으로 전체 시장 규모 전년比 7%↓ [서울=뉴시스]윤현성 기자 = 지난해 4분기',
   'serviceTime': 1651211375000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/003/2022/04/29/11154542.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88156f75_000000000000000000672363',
   'articleId': '0000672363',
   'officeId': '469',
   'officeName': '한국일보',
   'title': '역대급 실적에도 웃지 못한 애플, 공급망 문제 대두되면서 주가는 급락',
   'summary': "글로벌 정보기술(IT) 업계 공룡인 애플이 올해 1분기에 인플레이션 악재 등에도 불구하고 '깜짝실적(어닝서프라이즈)'를 가져왔다. 주력인 아이폰과 온라인장터인 앱스토어 등에서 선전한 결과다. 하지만 신종 코로나바이러",
   'serviceTime': 1651210262000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672363.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88156f75_000000000000000000672362',
   'articleId': '0000672362',
   'officeId': '469',
   'officeName': '한국일보',
   'title': '삼성전자 노사, 올해 임금인상률 9% 최종 합의…대졸 신입 초봉 5,150만원',
   'summary': '삼성전자 노사가 2022년 임직원 평균 임금인상률을 9%로 결정했다. 29일 업계에 따르면 삼성전자 노사협의회는 이날 오전 노사가 연내 사원의 평균 임금인상률을 9%로 합의했다는 내용을 임직원들에게 공지했다. 노사협',
   'serviceTime': 1651210261000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/469/2022/04/29/672362.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'},
  {'sectionId': '105',
   'gdid': '88000108_000000000000000004048337',
   'articleId': '0004048337',
   'officeId': '011',
   'officeName': '서울경제',
   'title': '"연봉 1000만원 인상" 웹젠 노조, 2일 파업 보류',
   'summary': '[서울경제] 게임 업계 최초로 파업을 예고했던 웹젠(069080) 노동조합이 쟁의활동을 일단 보류하기로 했다. 29일 업계에 따르면 웹젠 노조는 다음달 2일 국회 문화체육관광위원회·환경노동위원회 공동 주최로 열리는 ',
   'serviceTime': 1651210261000,
   'imageUrl': 'https://mimgnews.pstatic.net/image/origin/011/2022/04/29/4048337.jpg',
   'type': '1',
   'sessionId': 'eUA7TEvdYXajKGhg',
   'modelVersion': 'news_sec_v2.0',
   'airsServiceType': 'DEFAULT'}]}

In [7]:
# json > DataFrame
df = pd.DataFrame(datas[str(sid1)])
df.tail(2)

,sectionId,gdid,articleId,officeId,officeName,title,summary,serviceTime,imageUrl,type,sessionId,modelVersion,airsServiceType
18,105,88156f75_000000000000000000672362,0000672362,469,한국일보,"삼성전자 노사, 올해 임금인상률 9% 최종 합의…대졸 신입 초봉 5,150만원",삼성전자 노사가 2022년 임직원 평균 임금인상률을 9%로 결정했다. 29일 업계에...,1651210261000,https://mimgnews.pstatic.net/image/origin/469/...,1,eUA7TEvdYXajKGhg,news_sec_v2.0,DEFAULT
19,105,88000108_000000000000000004048337,0004048337,011,서울경제,"""연봉 1000만원 인상"" 웹젠 노조, 2일 파업 보류",[서울경제] 게임 업계 최초로 파업을 예고했던 웹젠(069080) 노동조합이 쟁의활...,1651210261000,https://mimgnews.pstatic.net/image/origin/011/...,1,eUA7TEvdYXajKGhg,news_sec_v2.0,DEFAULT

In [8]:
datas = res.json()["airsResult"]
datas = json.loads(datas)["result"][str(sid1)]
columns = ['sectionId', 'articleId', 'officeId', 'officeName', 'title', 'summary']
df = pd.DataFrame(datas)[columns]  # DataFrame columns 종류 및 순서
df.tail(1)

,sectionId,articleId,officeId,officeName,title,summary
19,105,0004048337,011,서울경제,"""연봉 1000만원 인상"" 웹젠 노조, 2일 파업 보류",[서울경제] 게임 업계 최초로 파업을 예고했던 웹젠(069080) 노동조합이 쟁의활...

#### 4. 함수로 만들기

In [9]:
def article_list(sid1, page):
    url = f"https://news.naver.com/main/mainNews.naver?sid1={sid1}&date=00:00:00&page={page}"
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)\
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}
    response = requests.post(url, headers=headers)
    datas = response.json()["airsResult"]
    datas = json.loads(datas)["result"][str(sid1)]
    columns = ['sectionId', 'articleId', 'officeId', 'officeName', 'title', 'summary']
    return pd.DataFrame(datas)[columns]

In [10]:
df = article_list(100, 2)
df.tail(1)

,sectionId,articleId,officeId,officeName,title,summary
19,100,0005082187,277,아시아경제,"'전두환 부인' 이순자, 尹취임식 초청받아… ""취임식 관례""",윤석열 대통령 당선인 측이 내달 10일 열리는 취임식에 전두환 씨의 부인 이순자 씨...

In [11]:
# article_list함수를 이용하여 100 ~ 105 카테고리, 각 카테고리별 2페이지까지 데이터 수집

In [12]:
%%time
dfs = []
for sid1 in range(100, 106):
    for page in range(1, 3):
        print(sid1, page, end=" ")
        dfs.append(article_list(sid1, page))
article_df = pd.concat(dfs, ignore_index=True)
article_df.tail(2)

100 1 100 2 101 1 101 2 102 1 102 2 103 1 103 2 104 1 104 2 105 1 105 2 Wall time: 557 ms

,sectionId,articleId,officeId,officeName,title,summary
238,105,0002588748,028,한겨레,아마존 21년 만의 ‘최저 성장’…공급망 차질·우크라 사태 겹악재 탓,아마존닷컴(아마존)의 1분기(1∼3월) 매출 성장률이 ‘닷컴 버블’ 때인 2001년...
239,105,0002123756,138,디지털데일리,"애플, 아이폰14프로 노치 대신 펀치홀…디스플레이 사진 유출",- 긴 구멍 하나와 작은 구멍 하나의 '듀얼 홀' 디스플레이 [디지털데일리 백승은 ...

#### 5. 상세 페이지 링크 생성

In [13]:
# https://news.naver.com/main/read.naver?mode=LSD&mid=shm
# &sid1=105&oid=092&aid=0002244690

In [14]:
article_df["link"] = "https://news.naver.com/main/read.naver?mode=LSD&mid=shm"
article_df["link"] += "&sid1=" + article_df["sectionId"]
article_df["link"] += "&oid=" + article_df["officeId"]
article_df["link"] += "&aid=" + article_df["articleId"]
link = article_df.loc[200, "link"]
print(link)

https://news.naver.com/main/read.naver?mode=LSD&mid=shm&sid1=105&oid=018&aid=0005203985

#### 6. request > response : str(html)

In [15]:
res = requests.get(link, headers=headers)
res

#### 7. str(html) > css-selector > text(기사내용) > 기사 리스트 데이터 프레임에 적용

In [16]:
soup = BeautifulSoup(res.text)
content = soup.select_one("#articleBodyContents").text.strip()

content[:100]

AttributeError: 'NoneType' object has no attribute 'text'

In [ ]:
def article_content(link):
    res = requests.get(link, headers=headers)
    soup = BeautifulSoup(res.text)
    return soup.select_one("#articleBodyContents").text.strip()

In [ ]:
%%time
article_df["content"] = article_df["link"].apply(article_content)

In [ ]:
# csv 파일로 저장
article_df.to_csv('naver.csv', index=False)

In [ ]:
# 모듈로 만들기

In [ ]:
%%writefile naver.py
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)\
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}

def article_list(sid1, page):
    url = f"https://news.naver.com/main/mainNews.naver?sid1={sid1}&date=00:00:00&page={page}"
    res = requests.post(url, headers=headers)
    datas = res.json()["airsResult"]
    datas = json.loads(datas)["result"][str(sid1)]
    columns = ['sectionId', 'articleId', 'officeId', 'officeName', 'title', 'summary']
    return pd.DataFrame(datas)[columns]

def article_content(link):
    res = requests.get(link, headers=headers)
    soup = BeautifulSoup(response.text, "html.parser")
    return soup.select_one("#articleBodyContents").text.strip()

def crawling(start, end, filename="naver_article.csv"):
    
    print("crawling article list ...")
    dfs = []
    for sid1 in range(100, 106):
        for page in range(start, end + 1):
            print(sid1, page, end=" ")
            dfs.append(article_list(sid1, page))
    article_df = pd.concat(dfs, ignore_index=True)
    
    print("\n\nmaking link ...")
    article_df["link"] = "https://news.naver.com/main/read.naver?mode=LSD&mid=shm"
    article_df["link"] += "&sid1=" + article_df["sectionId"]
    article_df["link"] += "&oid=" + article_df["officeId"]
    article_df["link"] += "&aid=" + article_df["articleId"]
    
    print("\ncrawling content ...")
    article_df["content"] = article_df["link"].apply(article_content)
    
    article_df.to_csv(filename, index=False)

In [ ]:
# filename = datetime.now().strftime("%Y%m%d_%H%M%S")
# crawling(1, 1, f"{filename}.csv")

In [ ]:
import naver
from datetime import datetime

In [ ]:
filename = datetime.now().strftime("%Y%m%d_%H%M%S")
naver.crawling(1, 1, f"{filename}.csv")

In [ ]:
%ls